<section class="gallery">
    <img src="https://images.unsplash.com/photo-1483232539664-d89822fb5d3e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2VhbWxlc3MlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" height="100%" width="100%">
<div class="ccontent">
    <h1>MY GALLERY</h1>
    <div class="flex">
    <marquee direction="right"><img src="assets/Andrea.jpeg"/></marquee>
   <marquee direction="left"><img src="assets/photo2.jpeg"/></marquee>
    </div>
    <div class="flex">
        <marquee direction="left"><img src="assets/photo3.jpeg"/></marquee>
       <marquee direction="right"><img src="assets/photo4.jpeg"/></marquee>
        </div>
        <div class="flex">
            <marquee direction="left"><img src="assets/photo5.jpeg"/></marquee>
           <marquee direction="right"><img src="assets/photo1.jpeg"/></marquee>
            </div>
            <div class="flex">
                <marquee direction="right"><img src="assets/Andrea.jpeg"/></marquee>
               <marquee direction="left"><img src="assets/photo2.jpeg"/></marquee>
                </div>
</div>
</section>
