
<section class="contact">
    <img src="assets/photo2.jpeg" width="100%">
<div class="ccontent">
    <h1>WELCOME TO MY PORFOLIO</h1>
    <img src="assets/Andrea.jpeg"/>
    <h3>HELLO IM LAYAN, ANDREA MAE ,20 YEARS OLD OF AGE</h3>
    <h4 class="h4b"> From Brgy. Batug Jaro Leyte</h4>
    <h4 class="h4a">A 3rd Year College Student</h4>
    <h3 class="h3a">from Eastern Visayas State University Carigara Campus</h3>
    <h3 class="h3a">My mother's name is Chona C. Menil and my father is Alex P. Layan</h3>
    
</div>
</section>